<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактирование | ОмГТУ</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/styles.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/navbar.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/admin.css}">
</head>
<body>
    <div th:include="navbar :: navbar" class="navbar"></div>
    <div class="app-wrapper">
        <h1 style="text-align: center">Выберите ваше действие:</h1>

        <div class="admin-btns-div">
            <div class="admin-btns-margin">
                <a th:href="@{/admin/add-author}" class="admin-btns">Добавить автора</a>
                <a th:href="@{/admin/edit-author}" class="admin-btns">Редактировать автора</a>
                <a th:href="@{/admin/add-source}" class="admin-btns">Добавить карточку источника</a>
                <a th:href="@{/admin/edit-source}" class="admin-btns">Редактировать карточку источника</a>
                <a th:href="@{/admin/add-publication}" class="admin-btns">Добавить карточку публикации</a>
                <a th:href="@{/admin/edit-publication}" class="admin-btns">Редактировать карточку публикации</a>
            </div>
            <div class="admin-btns-margin">
                <a th:href="@{/admin/merge-authors}" class="admin-btns">Объединить профили авторов</a>
            </div>
        </div>
    </div>
</body>
</html>